@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,100);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:wght@100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300);
@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;700);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500);
@font-face {
  font-family: LemonMilk;
  src: url(https://cdn.glitch.global/1f61965e-15d8-4de3-8f2d-15723c6634d9/LemonMilkLight.ttf?v=1662220441168);
}
@font-face {
  font-family: AstroSpace;
  src: url(https://cdn.glitch.global/1f61965e-15d8-4de3-8f2d-15723c6634d9/AstroSpace-eZ2Bg.ttf?v=1665749687931)
}
@font-face {
  font-family: HeyOctober;
  src: url(https://cdn.glitch.global/1f61965e-15d8-4de3-8f2d-15723c6634d9/HeyOctober-Yz37y.ttf?v=1665749845879)
}
@font-face {
  font-family: Geffry;
  src: url(https://cdn.glitch.global/1f61965e-15d8-4de3-8f2d-15723c6634d9/GeffryRegular-MV5Jx.ttf?v=1665750040529)
}