html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
permacanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}