:root {
  --font-color: white;
  --bg-color: #333333;
  --anim-text-flow: red;
}

* {
  color: var(--font-color);
  font-family: "Maven Pro";
}

html {
  margin: 0;
  background-color: var(--bg-color);
}

.multicolor button {
  background-color: white;
  color: black;
}

.multicolor button:hover {
  background-color: #404040;
  color: var(--font-color);
}

.button-user-ready {
  background-color: blue;
  color: var(--font-color);
}

.button-user-ready:hover {
  background: red;
  box-shadow: 0em 0em 3.7em red;
}

@media screen and (min-height: 0px) {
  #text1,
  #text2 {
    color: var(--anim-text-flow);
  }
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  footer h5 * {
    font-size: 2pt;
  }
}

@media screen and (min-width: 768px) {
  #text1,
  #text2 {
    color: var(--anim-text-flow);
  }
}

@media screen and (min-width: 1024px) {
  #text1,
  #text2 {
    color: var(--anim-text-flow);
  }
}

html,
body {
  font-family: "Roboto Mono", monospace;
}

/* .container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text {
  font-weight: 100;
  font-size: 28px;
  color: white;
}
.dud {
  color: #757575;
} */

/* FAQ */

.container-faq {
  background-color: rgba(90, 98, 102, 0.7);
}

.container-faq:hover {
  box-shadow: 0em 0em 0.9em black;
}

.h2-faq {
  color: #4d5cff;
}

.text-faq a {
  color: var(--text-link);
  color: #00b0f4;
}

.keyboardMode .text-faq a:focus {
  -webkit-box-shadow: 0 0 0 3px #00b0f4;
  box-shadow: 0 0 0 3px #00b0f4;
}

.textMedium red {
  color: red;
}

.textMedium blue {
  color: blue;
}

.textMedium orange {
  color: orange;
}

.textMedium fuchsia {
  color: #ff00ff;
}

.textMedium pink {
  color: pink;
}

::-webkit-scrollbar-thumb:hover {
  /* Barre */
  -webkit-box-shadow: inset 0 0 0 1px #B00000,
    inset 0 0 0 6px red !important;
}