html, body {
  width: 100%;
  height: 100%;
  background-color: #04192d;
  font-family: "Open Sans", sans-serif;
}

#layer1, #layer2 {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate 150s ease-in-out infinite;
  --rotate: 1deg;
}


#layer2 {
  mix-blend-mode: color-dodge;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 25px rgba(200, 214, 224, 0.05), 0 0 5px rgba(4, 25, 45, 0.1), 0 0 25px rgba(4, 25, 45, 0.3), 0 0 50px rgba(4, 25, 45, 0.5);
  padding: 40px;
  border-radius: 10px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  color: #c8d6e0;
  max-width: 500px;
  z-index: 10;
}
#modal h1 {
  margin-bottom: 10px;
}
#modal p {
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin: 5px 0;
  color: #97b2c4;
  text-shadow: 0 0 5px rgba(4, 25, 45, 0.7);
}

#button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-image: linear-gradient(#c8d6e0, #668da9);
  border-radius: 5px;
  margin: 15px auto 0;
  text-align: center;
  cursor: pointer;
  color: #04192d;
  box-shadow: 0 0 10px rgba(4, 25, 45, 0.5);
  font-size: 1rem;
  width: 150px;
}
#button:hover svg {
  transform: rotate(-30deg);
}
#button svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  transition: all 0.2s ease-out;
}

@property --rotate {
  syntax: "<angle>";
  inherits: false;
  initial-value: 1deg;
}
@keyframes rotate {
  0%, 100% {
    --rotate: 1deg;
  }
  50% {
    --rotate: 2deg;
  }
}