red {
    color: red;
}

blue {
    color: blue;
}

orange {
    color: orange;
}

fuchsia {
    color: #ff00ff;
}

pink {
    color: pink;
}

.wrapper a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    color: white;
    text-decoration: none;
}

.wrapper h2 {
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.nav-img {
    height: 50px;
}

.sub-nav h2 {
    margin-left: 15px;
    font-family: "open sans", sans-serif;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    border-radius: 10px;
    box-shadow: 0 0 0.5em black;
}

.wrapper h2:hover {
    color: red;
}

::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper li {
    cursor: pointer;
}


/* New Stacking Context with Fixed */

.side-nav {
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 30;
}


/* Nav bar */

.wrapper {
    background: linear-gradient(145deg, #373737, #2e2e2e);
    height: 540px;
    width: 75px;
    border-radius: 10px;
    margin-top: 7px;
    box-shadow: 10px 10px 20px #141414, -10px -10px 20px #525252;
}

.nav-bloc {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    border-radius: 10px;
}

.nav-bloc:hover {
    background: white;
    box-shadow: 0.2em 0.2em 0.1em black;
}


/* When you hover the nav bar */

.sub-nav {
    padding: 0px;
    width: 60em;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #333333;
    z-index: -1;
    color: white;
    /* Hidden at the left side */
    transform: translateX(-100%);
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    overflow: scroll;
    border-radius: 10px;
    font-family: "Maven Pro";
}

.nav-bloc:hover .sub-nav {
    transform: translateX(75px);
}

.sub-nav ul {
    list-style-type: none;
}

.sub-nav li {
    width: 175px;
    padding: 15px 20px;
    float: left;
}

.sub-nav li:hover {
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    background: rgba(160, 160, 160, 0.555);
    box-shadow: 0.1em 0.2em 0.1em black;
    border-radius: 5px;
}

.sub-nav li .nav {
    color: #f2f2f2;
    text-decoration: none;
}

.main-content {
    padding-left: 80px;
}

@media screen and (min-width: 0px) and (max-width: 1070px) {
    .wrapper {
        content: "";
        display: table;
        clear: both;
        width: 101%;
        height: 160px;
        bottom: 0;
        position: fixed;
    }
    /* Nav bar */
    .nav-bloc {
        cursor: pointer;
        -webkit-transition: all 0.2s ease-out 0s;
        -moz-transition: all 0.2s ease-out 0s;
        transition: all 0.2s ease-out 0s;
        border-radius: 10px;
        float: left;
        padding: 20px 10px;
        margin: 0;
    }
    .nav-bloc:hover {
        background: white;
        box-shadow: 0.2em 0.2em 0.1em black;
    }
    .nav-img {
        height: 120px;
    }
    .wrapper a {
        text-decoration: none;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
        color: white;
        text-decoration: none;
    }
    .wrapper h2 {
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
    }
    .sub-nav h2 {
        margin-left: 15px;
        font-family: "open sans", sans-serif;
        height: 90px;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #222222;
        -webkit-transition: all 0.2s ease-out 0s;
        -moz-transition: all 0.2s ease-out 0s;
        transition: all 0.2s ease-out 0s;
        border-radius: 10px;
        box-shadow: 0 0 0.5em black;
    }
    .wrapper h2:hover {
        color: red;
    }
     ::before,
     ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .wrapper li {
        cursor: pointer;
    }
    /* New Stacking Context with Fixed */
    .side-nav {
        position: fixed;
        height: 100vh;
        z-index: 30;
    }
    /* When you hover the nav bar */
    .sub-nav {
        padding: 0;
        width: 100%;
        height: 50vh;
        position: absolute;
        top: 0;
        left: 0;
        background: #222222;
        z-index: -1;
        color: white;
        /* Hidden at the left side */
        transform: translateY(100vh);
        -webkit-transition: all 0.2s ease-out 0s;
        -moz-transition: all 0.2s ease-out 0s;
        transition: all 0.2s ease-out 0s;
        border-right: 2px solid #000000;
        border-left: 2px solid #000000;
        overflow: scroll;
        border-radius: 10px;
        font-family: "Maven Pro";
    }
    .nav-bloc:hover .sub-nav {
        transform: translateY(50vh);
    }
    .sub-nav ul {
        list-style-type: none;
    }
    .sub-nav li {
        width: 350px;
        padding: 15px 20px;
        float: left;
        font-size: 35pt;
    }
    .sub-nav li:hover {
        -webkit-transition: all 0.2s ease-out 0s;
        -moz-transition: all 0.2s ease-out 0s;
        transition: all 0.2s ease-out 0s;
        background: rgba(160, 160, 160, 0.555);
        box-shadow: 0.1em 0.2em 0.1em black;
        border-radius: 5px;
    }
    .sub-nav li .nav {
        color: #f2f2f2;
        text-decoration: none;
    }
    .main-content {
        padding-left: 0;
    }
}

.settings-button {
    background-color: #555555;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    border-radius: 100px;
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
    margin-right: 10px;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    box-shadow: 0 0 0.5em black;
}

.settings-button:hover {
    background-color: #888888;
    box-shadow: 0 0 0.5em white;
}

.settings-button-img {
    margin-top: 10px;
    -webkit-transition: all 0.7s ease-out 0s;
    -moz-transition: all 0.7s ease-out 0s;
    transition: all 0.7s ease-out 0s;
}

.settings-button-img:hover {
    transform: rotate(180deg);
}

.login-button {
    background-color: #555555;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    border-radius: 100px;
    width: 75px;
    height: 75px;
    margin-top: 20px;
    margin-right: 10px;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    box-shadow: 0 0 0.5em black;
}

.login-button:hover {
    background-color: #888888;
    box-shadow: 0 0 0.5em white;
}

.login-button-img {
    margin-top: 10px;
    margin-right: 1px;
}


/* FOOTER */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.generic-anchor {
    color: #8db9ed;
}

.generic-anchor:visited {
    color: #8db9ed;
}

.generic-anchor:hover {
    color: #cccccc;
}

.flex-rw {
    display: flex;
    flex-flow: row wrap;
}

footer main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 10em "Oswald", sans-serif;
    line-height: 1;
}

footer {
    margin-top: auto;
    width: 100%;
}

.footer-list-top {
    width: 33.333%;
}

.footer-list-top>li {
    text-align: center;
    padding-bottom: 10px;
}

.footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font: 2.3vw "Oswald", sans-serif;
}

.footer-list-anchor {
    font: 1.3em "Open Sans", sans-serif;
}

.footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
}

.footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid #ccc;
    width: calc(100% - 20px);
}

.footer-social-overlap {
    position: relative;
    z-index: 2;
    background: #373737;
    padding: 0 20px;
}

.footer-social-connect {
    display: flex;
    align-items: center;
}

.footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px;
}

.footer-social-overlap>a {
    font-size: 3em;
}

.footer-social-overlap>a:not(:first-child) {
    margin-left: 0.38em;
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.footer-bottom-section>div:first-child {
    margin-right: auto;
}

.footer-bottom-wrapper {
    font-size: 1.5em;
}

.footer-address {
    display: inline;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em;
    }
    .footer-list-anchor {
        font-size: 1.1em;
    }
    .footer-social-connect {
        font-size: 2.5em;
    }
    .footer-social-overlap>a {
        font-size: 2.24em;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 568px) {
    main {
        font-size: 5em;
    }
    .footer-list-top {
        width: 100%;
    }
    .footer-list-header {
        font-size: 3em;
    }
    .footer-list-anchor {
        font-size: 1.5em;
    }
    .footer-social-section {
        justify-content: center;
    }
    .footer-social-section::after {
        top: 25%;
    }
    .footer-social-connect {
        margin-bottom: 10px;
        padding: 0 10px;
    }
    .footer-social-overlap {
        display: flex;
        justify-content: center;
    }
    .footer-social-icons-wrapper {
        width: 100%;
        padding: 0;
    }
    .footer-social-overlap>a:not(:first-child) {
        margin-left: 20px;
    }
    .footer-bottom-section {
        padding: 0 5px 10px 5px;
    }
    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .footer-social-overlap>a {
        margin: auto;
    }
    .footer-social-overlap>a:not(:first-child) {
        margin-left: 0;
    }
    .footer-bottom-rights {
        display: block;
    }
}

@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em;
    }
    .footer-list-anchor {
        font-size: 1.2em;
    }
    .footer-social-connect {
        font-size: 2.4em;
    }
    .footer-social-overlap>a {
        font-size: 2.24em;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}

.sub-nav {
    overflow: hidden;
}


/* Magical hover text effect */

:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

.cards {
    margin-top: 50px;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width: calc(100% - 20px);
    margin: 0 auto;
}

#cards:hover>.card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient( 800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40%);
    z-index: 3;
}

.card::after {
    background: radial-gradient( 600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.4), transparent 40%);
    z-index: 1;
}

.card>.card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}


/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

.card-info-title h1,
.card-info-title h2,
.card-info-title h3,
.card-info-title h4,
.card-info-title span {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0px;
}

.card-info-title i {
    color: rgb(240, 240, 240);
}

.card-image,
.card-image img {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
}

.card-image>i {
    font-size: 6em;
    opacity: 0.25;
}

.card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
}

.card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.card-info>i,
.card-info>img {
    font-size: 1em;
    height: 20px;
    line-height: 20px;
}

.card-info-title>h3 {
    font-size: 1.1em;
    line-height: 20px;
}

.card-info-title>h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
}


/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
    .cards {
        align-items: flex-start;
        overflow: auto;
    }
    #cards {
        max-width: 1000px;
        padding: 10px 0px;
    }
    .card {
        flex-shrink: 1;
        width: calc(50% - 4px);
    }
}

@media(max-width: 500px) {
    .card {
        height: 180px;
    }
    .card-image {
        height: 80px;
    }
    .card-image>i {
        font-size: 3em;
    }
    .card-info-wrapper {
        padding: 0px 10px;
    }
    .card-info>i {
        font-size: 0.8em;
    }
    .card-info-title>h3 {
        font-size: 0.9em;
    }
    .card-info-title>h4 {
        font-size: 0.8em;
        margin-top: 4px;
    }
}

@media(max-width: 320px) {
    .card {
        width: 100%;
    }
}