:root {
  --font-color: white;
  --bg-color: #333333;

  --switch-color-light: #999999;
  --switch-color-dark: #111111;
  --white: #ffffff;
  --unchecked: red;
  --checked: white;

  --switch-shadow: 0.3rem 0.3rem 0.6rem /* bottom shadow : */ #222222,
    -0.2rem -0.2rem 0.5rem /* top shadow : */ #555555;
  --switch-bg-checked: linear-gradient(
    330deg,
    var(--switch-color-dark) 0%,
    #555555 50%,
    var(--switch-color-light) 100%
  );
}

* {
  color: var(--font-color);
  font-family: "Maven Pro";
}

html {
  margin: 0;
  background-color: var(--bg-color);
}

.switch input {
  display: none;
}
.switch__1,
.switch__2 {
  width: 6rem;
}
.switch__1 label,
.switch__2 label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  box-shadow: var(--switch-shadow);
  position: relative;
  cursor: pointer;
  border-radius: 1.6rem;
}
.switch__1 label::after,
.switch__2 label::after {
  content: "";
  position: absolute;
  left: 0.4rem;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background: var(--unchecked);
  transition: all 0.4s ease;
}
.switch__1 label::before,
.switch__2 label::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: var(--switch-bg-checked);
  opacity: 0;
  transition: all 0.4s ease;
}
.switch input:checked ~ label::before {
  opacity: 1;
}
.switch input:checked ~ label::after {
  left: 57%;
  background: var(--checked);
}

.settings-page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
}
.settings-page .settings-menu {
  width: 300px;
  padding: 15px;
}
.settings-page .settings-desc {
  width: 100%;
  padding: 15px;
}
