body {
margin: 0;
  padding: 0;
  background:#121314;
  font-size: 100%;
  position: relative;
}

.container {
  height: 200vh;
  margin: 0 auto;
  top: 0; 
  left: 0;
  padding: 2rem;
  text-align: left;
}
h2 {
  color: #fff;
  font-size: 20vw;
  line-height:1;
  letter-spacing: -0.5vw;
  font-family: "Helvetica","Roboto",sans-serif;
}
svg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 /* -webkit-filter: blur(40px); */
 /* filter: blur(40px); */
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
  /* Other transform properties here */
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width:100vw;
  height: 100vh;
}