.tooltip {
  display: none;
  color: red;
  margin-left: 28px; /* moves the tooltip to the right */
  margin-top: 15px; /* moves it down */
  position: absolute;
  z-index: 1000;
}

.ht:hover .tooltip {
  display: block;
}
