:root {
  --clr1: #dddddd;
  --clr2: #efefef;
  --clr3: #333333;
  --clr4: tomato;
  --border-radius: 7px;
  --text-radius: 50em;
}

footer {
  padding: 50px;
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  position: relative;
  margin: 10px 0 0 0;
  background-color: var(--clr4);
}
footer .logo {
  background: var(--clr2);
  width: 50px;
  height: 50px;
  border-radius: var(--text-radius);
}
footer nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50px, -50%);
}
footer nav ul li {
  display: inline-block;
  list-style: none;
  width: 60px;
  height: 10px;
  background: var(--clr2);
  border-radius: var(--text-radius);
}

.footer {
  width: 90%;
  max-width: 1440px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px;
}