red {
  color: red;
}

blue {
  color: blue;
}

orange {
  color: orange;
}

fuchsia {
  color: #ff00ff;
}

pink {
  color: pink;
}

.wrapper a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  color: white;
  text-decoration: none;
}

.wrapper h2 {
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.nav-img {
  height: 50px;
}

.sub-nav h2 {
  margin-left: 15px;
  font-family: "open sans", sans-serif;
  height: 60px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222222;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  border-radius: 10px;
  box-shadow: 0 0 0.5em black;
}

.wrapper h2:hover {
  color: red;
}

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper li {
  cursor: pointer;
}

/* New Stacking Context with Fixed */
.side-nav {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 30;
}

/* Nav bar */

.wrapper {
  background: #333333;
  height: 540px;
  width: 75px;
  border-radius: 10px;
  margin-top: 7px;
  box-shadow: 0em 0em 1em black;
}

.nav-bloc {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  border-radius: 10px;
}
.nav-bloc:hover {
  background: white;
  box-shadow: 0.2em 0.2em 0.1em black;
}

/* When you hover the nav bar */
.sub-nav {
  padding: 0px;
  width: 60em;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #333333;
  z-index: -1;
  color: white;
  /* Hidden at the left side */
  transform: translateX(-100%);
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
  overflow: scroll;
  border-radius: 10px;
  font-family: "Maven Pro";
}
.nav-bloc:hover .sub-nav {
  transform: translateX(75px);
}
.sub-nav ul {
  list-style-type: none;
}
.sub-nav li {
  width: 175px;
  padding: 15px 20px;
  float: left;
}
.sub-nav li:hover {
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  background: rgba(160, 160, 160, 0.555);
  box-shadow: 0.1em 0.2em 0.1em black;
  border-radius: 5px;
}
.sub-nav li .nav {
  color: #f2f2f2;
  text-decoration: none;
}

.main-content {
  padding-left: 80px;
}

@media screen and (min-width: 0px) and (max-width: 1070px) {
  .wrapper {
    content: "";
    display: table;
    clear: both;
    width: 101%;
    height: 160px;
    bottom: 0;
    position: fixed;
  }

  /* Nav bar */

  .nav-bloc {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    border-radius: 10px;
    float: left;
    padding: 20px 10px;
    margin: 0;
  }

  .nav-bloc:hover {
    background: white;
    box-shadow: 0.2em 0.2em 0.1em black;
  }

  .nav-img {
    height: 120px;
  }

  .wrapper a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    color: white;
    text-decoration: none;
  }

  .wrapper h2 {
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
  }

  .sub-nav h2 {
    margin-left: 15px;
    font-family: "open sans", sans-serif;
    height: 90px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    border-radius: 10px;
    box-shadow: 0 0 0.5em black;
  }

  .wrapper h2:hover {
    color: red;
  }

  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .wrapper li {
    cursor: pointer;
  }

  /* New Stacking Context with Fixed */
  .side-nav {
    position: fixed;
    height: 100vh;
    z-index: 30;
  }

  /* When you hover the nav bar */
  .sub-nav {
    padding: 0;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #222222;
    z-index: -1;
    color: white;
    /* Hidden at the left side */
    transform: translateY(100vh);
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    overflow: scroll;
    border-radius: 10px;
    font-family: "Maven Pro";
  }
  .nav-bloc:hover .sub-nav {
    transform: translateY(50vh);
  }
  .sub-nav ul {
    list-style-type: none;
  }
  .sub-nav li {
    width: 350px;
    padding: 15px 20px;
    float: left;
    font-size: 35pt;
  }
  .sub-nav li:hover {
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    background: rgba(160, 160, 160, 0.555);
    box-shadow: 0.1em 0.2em 0.1em black;
    border-radius: 5px;
  }
  .sub-nav li .nav {
    color: #f2f2f2;
    text-decoration: none;
  }

  .main-content {
    padding-left: 0;
  }
}

.settings-button {
  background-color: #555555;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  border-radius: 100px;
  width: 75px;
  height: 75px;
  margin-bottom: 20px;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  box-shadow: 0 0 0.5em black;
}
.settings-button:hover {
  background-color: #888888;
  box-shadow: 0 0 0.5em white;
}

.settings-button-img {
  margin-top: 10px;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.settings-button-img:hover {
  transform: rotate(180deg);
}

.login-button {
  background-color: #555555;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  border-radius: 100px;
  width: 75px;
  height: 75px;
  margin-top: 20px;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  box-shadow: 0 0 0.5em black;
}
.login-button:hover {
  background-color: #888888;
  box-shadow: 0 0 0.5em white;
}

.login-button-img {
  margin-top: 10px;
  margin-right: 1px;
}